body{
    background-color: grey
}

.main-sup{

    background-color: gainsboro;
    height: 5vh;
    display: flex;
    align-items: center;
   
}  
.link{
    text-decoration: none;
}


.logo{
    width:30%;
    display: flex;
    align-items: center;
}